@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

body {
    overflow-x: hidden;
    background-color: #060047;
    font-family: 'Jura';
}

/* ======================= NAVBAR 1 ========================== */

.navbar1 {
    background-color: #050036;
    width: calc(100vw - 40px);
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.websiteLogoContainer {
    flex: 70%;
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
}

.searchAndProfilePicContainer {
    gap: 70px;
    flex: 30%;
}

.searchAndProfilePicContainer .searchInputContainer {
    width: 80%;
}

.searchInputContainer {
    background-color: #46001E;
    box-shadow: inset -2px 4px 4px 0px rgb(0, 0, 0, 0.25);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    gap: 6px;
}

.searchInputContainer input {
    background-color: transparent;
    color: white;
    border: none;
    width: 100%;
    min-width: 300px;
    font-size: 20px;
    outline: none;
}

.searchInputContainer input::placeholder {
    color: #575757;
}

#searchIcon {
    width: 30px;
    cursor: pointer;
}

.profilePictureContainer {
    border-radius: 50%;
    padding: 5px;
    background-color: #2A2A2A;
}

#profilePictureInNavbar {
    width: 35px;
}

/* ========================= NAVBAR OPTIONS ========================= */


.navbar2 {
    color: white;
    font-size: 20px;
    width: 100vw;
    height: 40px;
    background-color: #050036;
    top: 80px;
    grid-template-columns: 90% auto;
    padding-top: 20px;
    font-weight: 700;
}

.options-list {
    background-color: #050036;
    gap: calc(70% / 8);
    width: 80%;
    overflow-x: auto;
}

.options-list li {
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* ============================ HOMEPAGE =============================== */

.homepage {
    height: 100vh;
}