@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

body {
    overflow-x: hidden;
    background-color: #060047;
    font-family: 'Jura';
}

/* ======================= NAVBAR 1 ========================== */

.navbar1 {
    z-index: 20;
    background-color: #050036;
    width: calc(100vw - 210px);
    height: 80px;
    padding-left: 100px;
    padding-right: 110px;
}

.websiteLogoContainer {
    flex: 70%;
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
}

.searchAndProfilePicContainer {
    gap: 40px;
    max-width: 700px;
}


.searchInputContainer {
    background-color: #46001E;
    box-shadow: inset -2px 4px 4px 0px rgb(0, 0, 0, 0.25);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    gap: 6px;
}

.searchInputContainer input {
    background-color: transparent;
    color: white;
    border: none;
    width: 100%;
    min-width: 300px;
    font-size: 20px;
    outline: transparent;
}

.searchInputContainer input::placeholder {
    color: #575757;
}

#searchIcon {
    width: 30px;
    cursor: pointer;
}

.profilePictureContainer {
    border-radius: 50%;
    padding: 5px;
    background-color: #2A2A2A;
}

#profilePictureInNavbar {
    width: 35px;
}

/* ========================= NAVBAR OPTIONS ========================= */


.navbar2 {
    z-index: 20;
    color: white;
    font-size: 20px;
    width: 100vw;
    background-color: #050036;
    top: 80px;
    grid-template-columns: 90% auto;
    padding-top: 20px;
    font-weight: 700;
}

.options-list {
    background-color: #050036;
    gap: calc(50% / 8);
    width: 80%;
    overflow-x: hidden;
}

.options-list li {
    padding: 10px 20px 20px 20px;
    border-top: 2px solid transparent;
}

.options-list li:hover {
    color: aqua;
}

.options-list li:active {
    border-top: 2px solid white;
    background-color: #060047;
}

/* ============================ HOMEPAGE =============================== */

.homepage {
    gap: 50px;
    padding-top: 180px;
}


/* ============================ CARD CONTAINER ========================= */


.cardContainer {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    min-width: 300px;
    width: 400px;
    height: 300px;
    transition: transform .5s ease;
}

.cardContainer:hover {
    transform: scale(1.1);
    filter: brightness(110%);
}

.newsHeadlineAndFooterContainer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.603);
    padding: 5px;
}

.newsTitle {
    font-size: large;
    font-weight: 700;
}

.newsPreview {
    padding-top: 10px;
    transition: all .5s ease;
    overflow: hidden;
    max-height: 95px;
    height: 0px;
}

.cardFooter {
    padding-top: 5px;
}

/* ===================================== PROFILEBAR =============================== */

.profilebar-event-container{
    z-index: 21;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.463);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.profilebar-container {
    overflow: hidden;
    z-index: 22;
    right: 0;
    width: 400px;
    height: 100vh;
    background-color: rgba(17, 15, 37, 0.901);
}

.profilebar-container hr {
    border-color: gray;
}

.image-container {
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #2A2A2A;
    padding: 10px;
}


.sec2-prof-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.buttons-container {
    gap: 30px;
}


.buttons-container button {
    border: none;
    font-family: 'Jura';
    font-weight: 700;
    font-size: x-large;
    height: 70px;
    width: 140px;
    background-color: transparent;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.348);
}

.buttons-container button:hover {
    box-shadow: inset 0px 0px 20px -10px white;
    border: 2px solid white;
}


.buttons-container button:active {
    box-shadow: none;
    color: black;
    background-color: white;
}


.image-container img {
    width: 100%;
}

.sec3-prof-container ul {
    margin-top: 20px;
    margin-left: 20px;
}

.sec3-prof-container li{
    position: relative;
    margin-top: 10px;
}

.sec3-prof-container li::before{
    content: '';
    z-index: -1;
    position: absolute;
    width: calc(100% + 10px);
    height: 100%;
    transition: transform .2s ease;
    background-color: white;
    transform: translateX(-410px);
}

.sec3-prof-container li:hover::before{
    transform: translateX(-20px);
}

.sec3-prof-container ul li a:hover{
    filter:brightness(0%);
}

.sec3-prof-container ul li a {
    gap: 10px;
}

.sec3-prof-container .list-image-container{
    width: 40px;
}

.sec3-prof-container .list-text-container{
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 10px 0px 17px 0px;
}

.sec3-prof-container ul a img {
    width: 100%;
}